.name {
    font-family: 'Montserrat', sans-serif;
    margin-left: 4px;
    cursor: pointer;
    transition: .1s;
    color:var(--text-color)
}
.dot {
    background-color: var(--icon-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 14px;
}
.item {
    display: flex;
    height: 40px;
    margin-top: 6px;
}
.active {
    margin-left: 10px;
}
.cross {
    color: var(--icon-color);
    margin-left: 250px;
    cursor: pointer;
}
.niga {
    width: 90px;
    display: flex;
}