.header {
  height: 80px;
  width: 100%;
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
}
.pravuySektor {
  display: flex;
}
.date {
  padding-top: 25px;
  color: var(--header-text-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-right: 80px;
}
.icon {
  height: 45px;
  width: 45px;
  margin-right: 110px;
  margin-top: 20px;
  cursor: pointer;
  color: var(--header-text-color);
}

.title {
  margin-top: 15px;
  margin-left: 10px;
  color: var(--header-text-color);
  font-family: 'Montserrat', sans-serif;
}

